 <div class= "alert alert-warning" style = "margin-top: 2rem">
 <h1 > Your Cart is Empty </h1>
 <p>please use the home link below to explore our available products and make a selection	</p>
 <a class="navbar-brand" href="<%= root_path %>">>>Go Home<<</a>
 </div>